*

!.gitignore
!src
!src/addons
!src/addons/Patrick
!src/addons/Patrick/*
!src/addons/Patrick/*/*
src/addons/Patrick/*/*/upload
!src/addons/Patrick/*/*/*
!src/addons/Patrick/*/*/*/*
!src/addons/Patrick/*/*/*/*/*