*

!.gitignore
!README.md

# Data files
!forum
!forum/src
!forum/src/addons

!forum/src/addons/BWC
!forum/src/addons/BWC/*
!forum/src/addons/BWC/*/*
!forum/src/addons/BWC/*/*/*
!forum/src/addons/BWC/*/*/*/*
