*

!.gitignore
!README.md

# Data files
!forum
!forum/src
!forum/src/addons
!forum/src/addons/Patrick
!forum/src/addons/Patrick/*
!forum/src/addons/Patrick/*/*
forum/src/addons/Patrick/*/*/upload
!forum/src/addons/Patrick/*/*/*
!forum/src/addons/Patrick/*/*/*/*
!forum/src/addons/Patrick/*/*/*/*/*